* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #c0c0c0;
    --secundaria: #4a4a4a;
    --escura: #333;
    --maisescura: #000;
    --claro: #f5f5f5;
    --vidro: rgba(255, 255, 255, 0.1);
    --titulo:  #5e6063;
}

body {
    background: var(--primaria);    
    color: var(--secundaria);
}

.navegacao{
    position: fixed;
    top: 0;
    background: rgb(84, 84, 84, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--claro));
}
.menu-link:hover::after{
    width: 100%;
    transition: 0.5s;
}

.cabecalho{
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rafael-nome{
    font-size: 2.5rem;
    color: var(--escura);
    font-weight: bold;
}

.dev-nome{
    font-size: 1.5rem;
    color: var(--claro);
}

.foto-perfil{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    margin: 2rem 0 1rem;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}


.frase{
    color: var(--maisescura);
    font-size: 1.5rem;
    font-style: italic;
    text-align: end;
}


.sobre{
    padding: 6rem 2rem;    
    text-align: center;
}

.sobre-titulo{
    font-size: 2.5rem;
    color: var(--escura);
    text-align: center;
    margin-bottom: 20px;

}

.sobre-caixa{
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--claro);
    backdrop-filter: blur(10px);
    background-color: var(--vidro);

}

.sobre-paragrafo{
    text-align: center;
    font-size: 1.5rem;

}


.projetos{
    padding: 6rem 2rem;
    text-align: center;
}

.projetos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;    
}

.projetos-card:hover{
    box-shadow: 0 10 20px rgba(79, 70, 229, 0.3);
    transform: translatey(-10px) scale(1.03);
    transition: all 0.5s ease;
    cursor: pointer;
}    

.projetos-caixa{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));  
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card{
    background-color: var(--vidro);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--claro);
    overflow: hidden;
    text-align: left;
    padding: 8px;
}

.projetos-imagem{
    height: 300px;
    width: 100%; 
    object-fit: cover;
}

.info-projetos{
    line-height: 1.5rem;
    margin-bottom: 5px;
    

}

.paragrafo-projetos{
    line-height: 1.25rem;
}


.contatos{
    padding: 6rem 2rem;
}

.contatos-titulo{
    font-size: 2.5rem;
    text-align: center;
    color: var(--escura);
    text-align: center;
    margin-bottom: 20px;
}

.formulario-contato{
   max-width: 800px;
   margin: 0 auto;
   backdrop-filter: blur(10px);
   background-color: var(--vidro);
   padding: 2rem;
   border: 1px solid var(--claro);
   border-radius: 16px;
}


.campo-form{
    width: 100%;
    padding: 1rem;
    background-color: var(--vidro);
    border-radius: 8px;
    border: 1px solid var(--claro);
    outline: none;
}

.campo-form:focus{
    border-color: var(--maisescura);
    box-shadow: 0 10 20px rgba(79, 70, 229, 0.2);
}

.grupo-form{
    margin-bottom: 1.5rem;
}

.botao-form{
    color: var(--maisescura);
    background: linear-gradient(90deg, var(--primaria), var(--claro));
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer; 
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao-form:hover{
    transform: translatey(-3px);    
}

.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: 
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 60%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 60%),
    var(--maisescura);               
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.rodape{
    background: rgb(84, 84, 84, 0.8);
    color: var(--claro);
    text-align: center;
    padding: 1rem;
}

.redes-sociais{
    display: flex;
    color: var(--escura);
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}
.redes-sociais:visited{
    color: var(--escura);
}

